@font-face {
  font-family: "iconfont"; /* Project id 4156585 */
  src: url('iconfont.woff2?t=1688977389705') format('woff2'),
       url('iconfont.woff?t=1688977389705') format('woff'),
       url('iconfont.ttf?t=1688977389705') format('truetype'),
       url('iconfont.svg?t=1688977389705#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-creat-center:before {
  content: "\e6bc";
}

.icon-dianzan:before {
  content: "\e621";
}

